  .profile-menu {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 700px) {
      margin-bottom: 1.25rem;
    }

    &__button {
      display: flex;
      height: 100%;
      width: 100px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;

    &__container {
      display: flex;
      justify-content: center;
      background-color: #fff;
      height: 45px;
      align-items: center;
      width: 45px;
      border-radius: 50%;
      flex-direction: column;
      border: 24px solid var(--go-dev-border);
    }

    &__image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    &__text {
      font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      font-size: 12px;
      text-decoration: none;
      margin: 4px 0 0 0;
    }

    &__logout {
      border: 0;
      background-color: transparent;
      cursor: pointer;
      height: 100%;
      font-family: var(--bungee-font);
      color: var(--go-dev-text);
      }
    }
  }
