.trilha {
  display: grid;
  align-items: center;
  height: 100%;
  width: auto;
  align-content: space-between;
  padding: 20px;

  @media only screen and (max-width: 700px) {
    padding: 12px 0;
    justify-content: center;
  }

  &__name {
    font-weight: 500;
    font-size: 1rem;
  }

  &__image {
    justify-self: center;
    // height: 80%;
    // width: 80%;
    border-radius: 12px;
    height: 90px;
    width: 90px;

  }

  &__info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    // font-size: medium;

    &__aula {
      margin-right: 10px;
    }
  }
}