.back-screen {
  margin-left: 3rem;
  text-align: start;
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  text-decoration: none;
  color: var(--go-dev-text);

  @media screen and (max-width: 700px) {
    margin: 0 0 1rem 0;
  }

  :hover {
    font-weight: 700;
  }
}

#lesson {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin: 1.75rem 3rem;

  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 8fr;
  }

  @media screen and (max-width: 700px) {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
  }

  .lesson {
    &__badge {
      display: none;

      @media screen and (max-width: 700px) {
        display: block;
        background-color: var(--go-dev-text);
        margin: -1rem -1rem 0;
        border-radius: 0 10px 0 10px;
        padding: 6px;
        color: #fff;
        font-weight: 600;
        font-size: 13px;
        width: 40%;
        align-self: flex-end;
      }    
    }
    &__topics {
      &__topic {
        display: grid;
        gap: 5px;
        margin-top: 5px;

        &__text {
          text-align: start;
          font-size: smaller;

          @media screen and (max-width: 700px) {
            font-size: 10px;
          }        
        }
      }

      @media screen and (max-width: 700px) {
        &__topic {
          display: none;
        }

        &__text {
          font-size: 10px;
        }
      }

      &__lessons {
        border-radius: 6px 0 0 6px;
        padding: 6px;
        border-right: 0;
        text-decoration: none;
        background: var(--progress-color);

        &__active {
          border-radius: 6px 0 0 6px;
          padding: 6px;
          border-right: 0;
          text-decoration: none;  
          background-color: var(--color-dark-blue);

          span {
            color: #fff;
          }
        }

        &__done {
          border-radius: 6px 0 0 6px;
          padding: 6px;
          border-right: 0;
          text-decoration: none;
          background: var(--success-color);  
        }

        &__text {
          color: var(--go-dev-text);
          font-weight: 600;

          @media screen and (max-width: 700px) {
            font-size: 11px;
          }
        }
      }
    }

    &__item {
      border: 1px solid var(--go-dev-text);
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      gap: 14px;

      &__title {
        font-size: 20px;
        font-weight: 600;
      }

      &__description {
        line-height: 26px;
      }
    }

    &__status {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;

      input[type=checkbox] {
        position: relative;
        cursor: pointer;
      }

      input[type=checkbox]:before {
        content: "";
        display: block;
        position: absolute;
        width: 24px;
        height: 24px;
        top: -6px;
        left: -13px;
        border: 2px solid #555555;
        border-radius: 15px;
        background-color: white;
      }

      input[type=checkbox]:checked:after {
        content: "";
        display: block;
        width: 5px;
        height: 9px;
        border: solid black;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        left: -2px;
      }

      &__text {
        font-weight: 500;
        padding-left: 10px;
      }
    }
  }

  .grid-lessons {
    display: none;

    @media screen and (max-width: 700px) {
      display: block;
    }
  }
}

.go-to-exercices {
  margin-right: 3rem;
  text-align: start;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  color: var(--go-dev-text);

  @media screen and (max-width: 700px) {
    margin: 0 0 1rem 0;
  }

  :hover {
    font-weight: 700;
  }
}