.navigation {
    position: relative;
    display: flex;
    align-items: center;
    height: 90px;
    width: 100%;
    padding: 0.5rem 0rem;
    box-shadow: 0 2px 2px 2px var(--go-dev-border);
    background-color: var(--go-dev-background);
    font-family: var(--bungee-font);
  }

  .brand-name {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
  }

  .logo-image {
    width: 149px;
    height: 72px;
  }
  
  .navigation-menu {
    margin-left: auto;

    ul {
        display: flex;
        padding: 0;
    }

    li {
        list-style-type: none;
        margin: 0 0.5rem;
        border-radius: 10px;

        &.active {
            background-color: #734a9975;
          }
      
          &:hover {
            background-color: #734a9957;
          }
          
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: inherit;
            text-decoration: none;
            height: 100%;
            width: 100%;
            padding: 1rem;
            color: var(--go-dev-text);        
        }
      }
  }
  
  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: var(--go-dev-border);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;

    &:hover {
        opacity: 0.6;
    }
  }
  
  @media screen and (max-width: 700px) {
    .hamburger {
      display: block;
    }
  
    .navigation-menu {
        ul {
            flex-direction: column;
            position: absolute;
            top: 75px;
            left: 0;
            width: 100%;
            background-color: white;
            border-top: 1px solid black;
            display: none;
        }

        li {
            text-align: center;
            margin: 0;

            &:hover {
                background-color: #eee;
            }

            a {
                color: var(--go-dev-text);
                width: 100%;
                padding: 1.5rem 0;
            }
        }
    }
  
    .navigation-menu.expanded ul {
      display: block;
      z-index: 1;
    }
  }
  