.go-dev {
  display: grid;
  grid-template-rows: 90px 90% 90px;
  grid-template-columns: 100%;
  grid-template-areas: 'header' 'content' 'footer';
  margin: 0 auto;
  min-height: 100vh;
}

.container {
  margin: 1rem;
  text-align: center;
  grid-area: content;
}