.progress-desktop-small {
  height: 23rem;

  .wrapper {
    height: 320px;
    top: 7rem;
  }
}

.progress-mobile {
  height: 27rem;
}

.title-grid-mobile {
  font-size: 18px;
  font-weight: 500;
  text-align: start;
  margin-left: 5px;
  margin-bottom: 24px;
}